<nav id="nav-menu" class="">
  <div class="">
    <ul class="nav navbar-nav topnav">
    <%= render(@topnavs) %>
    </ul>
    <%= form_tag front_search_path, method: :get, class: "navbar-form navbar-right search-form " do %>
      <div class="form-group has-feedback">
        <%= search_field_tag(
            :search,
            params[:search],
            placeholder: "按下回车键搜索",
            class: "form-control"
        ) %>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    <% end %>
  </div>
</nav>
