// Place all the styles related to the front::message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article{
  text-align: center;
  margin-top: 40px;
  background-color: white;
}
.article-title{
  font-size: 2.5em;
}
.article-content{
  margin-top: 20px;
  text-align: left;
}
.article-content p{
  font-size: 2.1em;
}
