@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-diy/icheck/square/blue';
.header{
  width:auto;
  height:180px;
  background-color: rgb(144, 122, 153)
}
.content{
  width:auto;
  height:auto;
}

.quick_option form{
  float: left;
}
#return_index{
  float:left;
}
#logout{
  float:right;
}
