// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.header{
  width:auto;
  height:150px;
  background-color: rgb(144, 122, 153)
}
.mainer{
  width:auto;
  height:auto;
}

.quick_option form{
  float: left;
}
