
@import "bootstrap-sprockets";
@import "bootstrap";
.header{
  width:auto;
  height:150px;
  background-color: rgb(144, 122, 153)
}
.mainer{
  width:auto;
  height:auto;
}

.quick_option form{
  float: left;
}
