
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-color: #EBEBEB;
}
.header{
  width:auto;
  height:auto;
  background-image: url("top.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  // 顶部图片
  .imgPart{
    width:100%;
    height:250px;
    .logo{
      position: absolute;
      left:48%;
      top:120px;
      cursor:pointer; 
      // -moz-border-radius:100px;
      // -webkit-border-radius:100px;
      // border-radius:100px;
      // -webkit-box-shadow:0 0 1px rgba(11, 11, 11, 0.78);
      // -moz-box-shadow:0 0 1px rgba(11, 11, 11, 0.78);
    }
  }
  #navs{
    width:auto;
    background-color: white;
    height:auto;
    bottom:0;
    position: fixed;
    left:0;
    top:0;
    display:none;
    -webkit-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
    -moz-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
    ul.topnav {
      list-style: none;
      font-size: 1.2em;
      li{
        height:50px;
      }
    }
    ul.subnav{
      z-index: 99;
      // border-radius: 10px;
      margin-top: 0;
      display: none;
      position: absolute;
      list-style: none;
      float: left;
      padding: 0;
      padding-top: 3px;
      li{
        border-radius: 10px;
        background-color: #F8F8F8;
        height:40px;
        width:100px;
        float: left;
        padding-top: 1px;
        a{
          padding-left: 15px;
          display: block;
          line-height: 40px;
          text-decoration:none;
          span{
            padding-left: 5px;
          }
        }
      }
    }
  }
}
//body
.main{
  width:100%;
  height: auto;
  float: left;
  .middle{
    float: left;
    width:70%;
  }
  .side{
    float: right;
    width:30%;
  }
}

// article CSS
.articles, .comment{
  width:80%;
  height:auto;
  text-align: center;
  margin-top: 40px;
  margin-left: 10%;
  background-color: white;

  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
  -moz-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
  padding:10px;

  .articles-title{
    a{
      font-size: 35px;
      font-weight: 400;
    }

  }
  .articles-meta{
    color:#959595;
  }
  .articles-content{
    height:auto;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    overflow: hidden;
    p{
      color:#444443;
      font:400 18px/1.62 "Georgia",
            "Xin Gothic",
            "Hiragino Sans GB",
            "Droid Sans Fallback",
            "Microsoft YaHei",
            sans-serif;
    }
  }

  // comment
  p{
    text-align: left;
    font-size: 26px;
  }
  .visitname{
    text-align: left;
    font-size: 20px;
  }
  .content{
    text-align: left;
    font-size: 15px;
  }
}

//side_part
.side-part{
  width:80%;
  height:auto;
  margin-top: 40px;
  background-color: white;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
  -moz-box-shadow:0 0 8px rgba(11, 11, 11, 0.78);
  .title{
    padding-top:15px;
    padding-left:20px;
    font-size: 1.2em;
    font-size: 26px;
  }
  hr{
    padding:0;
    margin: 0;
  }
  .content{
    padding-top:10px;
    padding-bottom: 20px;
    padding-left:20px;
    ul{
      list-style:none;
      font:400 18px/1.62 "Georgia",
            "Xin Gothic",
            "Hiragino Sans GB",
            "Droid Sans Fallback",
            "Microsoft YaHei",
            sans-serif;
      li{
        border:none;
      }
    }
    .badge{
      background-color: white;
    }
    .label{
      border:1px,solid,#CCC;
      background-color: white;
      color:#959595;
    }
  }
}
// 脚部设置
.footer{
  float:left;
  width:100%;
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
  .upupup{
    display: none;
    position: fixed;
    right:30px;
    bottom:100px;
    .btn{
      border: none;
      border-radius: 100%;
    }
  }
}

//颜色设置
html{
  .main{
    .middle{
      .articles{
        .articles-title{
          a{
            color:black;
            text-decoration: none;
          }

        }
      }
      .more{
        color:white;
        background-color: #E67E22;
      }
      .more:hover{
        background-color:black;
      }
    }
    .side{
      a{
        color:#E67E22;
        text-decoration: none;
      }
    }
  }
  .footer{
    .upupup{
      button{
        color:white;
        background-color: #E67E22;
      }
    }
  }
}
